<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Group Name</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="videocam"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="chat-content">
  <div class="messages">
    <div class="message sender">
      <div class="message-bubble">
        <p>Hello everyone!</p>
        <span class="message-time">10:00 AM</span>
      </div>
    </div>
    <div class="message receiver">
      <div class="message-bubble">
        <p>Hi! How's it going?</p>
        <span class="message-time">10:02 AM</span>
      </div>
    </div>
    <!-- Add more messages here -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="happy-outline" slot="start"></ion-icon>
      <ion-input placeholder="Type a message..." type="text"></ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
