<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ groupSelected ? groupSelected.name : 'Group Chat' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="videocam"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="chat-content">
  <div class="messages">
    <div *ngFor="let message of messages" [ngClass]="{'sender': isSender(message), 'receiver': !isSender(message)}" class="message">
      <div class="message-bubble">
        <p>{{ message.message }}</p>
        <span class="message-time">{{ message.DateAdded | date:'shortTime' }}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="happy-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="newMessage" placeholder="Type a message..." type="text"></ion-input>
      <ion-button fill="clear" slot="end" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
