<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-router-link routerLink="/home"></ion-router-link>
      </ion-tab-button>

      <ion-tab-button tab="faq">
        <ion-icon name="help-circle"></ion-icon>
        <ion-label>FAQ</ion-label>
        <ion-router-link routerLink="/faq"></ion-router-link>
      </ion-tab-button>

      <ion-tab-button tab="answers">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Ask</ion-label>
        <ion-router-link routerLink="/answers"></ion-router-link>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <!-- <ion-icon name="person"></ion-icon> -->
        <div *ngIf="!ProfilePicture">
          <ion-icon
            name="person-circle-outline"
            style="color: white; font-size: 27px; text-align: center"
          ></ion-icon>
        </div>
        <div *ngIf="ProfilePicture">
          <img
            src="{{ ProfilePicture }}"
            style="width: 25px; height: 25px; border-radius: 100%"
          />
        </div>
        <ion-label>Profile</ion-label>
        <ion-router-link routerLink="/profile"></ion-router-link>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
