/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-title {
    text-align: center;
}

.Center_Text {
    text-align: center;
    color: black;
}

.labelStyle {
    margin-left: 5%;
    color: black;
}

.textBoxStyle {
    color: black;
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: white;
    margin-left: 5%;
}

.textBoxStyle.input-success {
    border: 2px solid green;
}

.textBoxStyle.input-failure {
    border: 2px solid red;
}

ion-select,
select,
ion-textarea {
    color: black;
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    // background-color: white;
    margin-left: 5%;
}

input[type="checkbox"] {
    margin-left: 5%;
}

.ModalPopupBox {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    margin-top: 10%;
}

.ContainerPopupBox {
    width: 100%;
    height: 90%;
}

.ContainerPopupClose {
    color: #039ef1;
    background-color: #023e8a;
    margin-left: 80%;
    font-size: xx-large;
}

.ContainerPopupCloseFooter {
    background-color: #039ef1;
    color: white;
    height: 40px;
    width: 46%;
    margin-top: 3%;
    margin-left: 25%;
    border-radius: 13px;
}

.pdf-viewer {
    height: 20vh;
    width: 80vw;
    display: block;
    margin: 0 auto;
}

.pdf-viewer-CR {
    height: 200vh;
    width: 80vw;
    display: block;
    margin: 0 auto;
}

.pdf-controls {
    text-align: center;
    margin-bottom: 10px;
}

#topDiv {
    max-height: 90%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 20px;
    height: 90%;
    margin-top: 10%;
    margin-left: 5%;
}

#insideDiv {
    overflow-y: auto;
}
