<ion-header>
  <ion-toolbar>
    <ion-title>Welcome, {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isAuthenticated">
  <h5>Log in to your account to see your subjects...</h5>
  </div>
  <div *ngIf="isAuthenticated">
    <ion-label><a (click)="ShowHideGroups()">{{ groupsMessage }}</a></ion-label>

    <div *ngIf="groupShowHide">
      <ion-card
        *ngFor="let group of selectedGroup;let i=index"
        (click)="openGroup($event)"
      >
        <ion-card-header>
          <ion-card-title>{{group}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
